/FoodOn_Tree.rar
/data/pretrain/glove.6B.300d.txt
/data/scores/parents_scores.csv
/logs/pd_label_embeddings_phrase.csv
/data/model/phrase_model.pkl
/data/model/phrase_train_loss.pdf
/data/model/phrase_word2vec_model.model
/data/model/phrase_word2vec_model.model.syn1neg.npy
/data/model/phrase_word2vec_model.model.wv.vectors.npy
/data/model/phrase_word2vec_trained.txt
/output/phrases.txt
/output/phrases_old.txt
/data/scores/siblings_scores.csv
/data/wikipedia/summaries.txt
/data/model/train_loss.pdf
/output/wikipedia_preprocessed.txt
/output/wikipedia_preprocessed_phrases.txt
/data/pretrain/word2vec.6B.300d.txt
/data/model/word2vec_model.model
/data/model/word2vec_model.model.syn1neg.npy
/data/model/word2vec_model.model.wv.vectors.npy
/data/model/word2vec_trained.txt
/data/model/word2vec_trained_lockf_is_0.txt
/data/model/word2vec_wiki_trained_no_pretrained_words.txt
